commonmark==0.9.1 ; python_full_version >= "3.8.0" and python_version < "3.11"
pygments==2.14.0 ; python_full_version >= "3.8.0" and python_version < "3.11"
pyyaml==6.0 ; python_full_version >= "3.8.0" and python_version < "3.11"
rich==12.5.1 ; python_full_version >= "3.8.0" and python_version < "3.11"
typing-extensions==4.4.0 ; python_full_version >= "3.8.0" and python_version < "3.9"
