name: Doing some tests
run-name: testing workflow invoked by ${{ github.actor }}

on: [push]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
      - uses: actions/checkout@v3

      - name: Install poetry
        run: |
          pipx install poetry

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: poetry
      - run: |
          poetry install --extras dev

      - name: Analyzing the code with pylint
        run: |
          poetry run tox -e pylint

      - name: Type checking with mypy
        run: |
          poetry run tox -e mypy

      - name: Upload mypy report
        uses: actions/upload-artifact@v4
        with:
          name: mypy report
          path: mypy.xml

      - name: Check formatting with black
        run: |
          poetry run tox -e black
  
  docs:
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - uses: actions/checkout@v3

      - name: Install poetry
        run: |
          pipx install poetry

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: "3.14"
          cache: poetry
      - run: |
          poetry install --extras docs

      - name: Test create docs
        run: |
          poetry run tox -e docs
